#conversejs a, #conversejs a:visited, #conversejs a:not([href]):not([tabindex]) {
text-decoration: none;
color: var(--link-color);
border-radius: 0px !important;
text-shadow: none; }

#conversejs.converse-overlayed #controlbox:not(.logged-out) .controlbox-head {
height: 60px; 
background: var(--chat-head-color-dark);
}

#conversejs.converse-overlayed #controlbox .controlbox-head .chatbox-btn {
color: white;
margin: 0; }

#conversejs .message.chat-msg .chat-msg__content {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: stretch;
margin-left: 0px;
width: calc(100% - var(--message-avatar-width)); }


#conversejs .message.chat-msg .chat-msg__heading {
width: 100%;
margin-top: 0.5em;
padding-right: 0.25rem;
padding-bottom: 0.25rem;
color: darkcyan;
display: flex; }

#conversejs.converse-overlayed #minimized-chats a.restore-chat {
padding: 1px 0 1px 5px;
color: white;
line-height: 15px;
display: block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap; }

#conversejs.converse-overlayed #minimized-chats .minimized-chats-flyout .chat-head {
padding: 0.3em;
border-radius: var(--chatbox-border-radius);
height: 35px;
margin-bottom: 0.2em;
box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
width: 100%; }

#conversejs .converse-chatboxes {
  z-index: 1031;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 5vw;
}